<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div  class="mid">

	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
		
		
	</ul>
	
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">



	<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi"  ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid">
		<ul >
			<li id="menu_string"><a href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a  href="gepkolcsonzes.html">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html" >Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>

<div class="mid">
<h3 style=" text-align: center" >Ipari porszívó </h3>

</div>

<div class="mid" >

<table class="blueTable">
	<tbody>
				<tr>
					<td style="width: 700px;  text-align:left">
											
											<h1 style="padding-top: 0px;">Ipari porszívó – HECHT 8335 Z     </h1>
								<p>Nedves-száraz ipari porszívó gépcsatlakozással 1,4 kW</p>
                                            
                                
                    
                                <h1>Specifikáció</h1>
											<ul class="list-group">
												<li class="list-group-item">Feszültség: 230V/50Hz  </li>
												<li class="list-group-item"> Tartály térfogata: 35 liter </li>
												<li class="list-group-item"> Motor teljesítmény: 1400W</li>
												<li class="list-group-item">Por tárolása: Porzsák nélküli</li>
												<li class="list-group-item"> Energiaforrás: Vezetékes </li>
					
											  </ul>


											  <h1>Termékleírás</h1>
           <p> Erőteljes ipari porszívó műhelyhez, garázshoz, autóhoz. Megfelelő teljesítményű motor szélsőséges körülmények között történő használatra. </p>
           <p> Ventillátorként is használható.</p>
           <p> Nedves porszívózás közvetlenül a tartályba (zsák nélkül).</p>
           <p> Száraz porszívózás előszűrővel a papírhepa-szűrővel.</p>
           <p> Rozsdamentes acélból készült gyűjtőtartály térfogata 35 liter. Kétrészes, teleszkópos szívócső rozsdamentes acélból.</p>
           <p> Ürítse le a szelepet a tartály alján.</p>
           <p> Tartozékok rögzítése közvetlenül a gépen.</p>
           <p> Szívótömlő tartó.</p>
           <p> A könnyű kezelhetőség érdekében a motorház fedelének fogantyúját kell kezelni.</p>
           <p> Aljzat két klasszikus nagy kerékkel, hogy a porszívózás során könnyedén mozoghassanak.</p>
           <p> Két gyűjtőtartály reteszelő retesze a megfelelő rögzítéshez és nyomáshoz.</p>
           <p> Szívótömlő a levegő áramlásának szabályozásával a fogantyún.</p>
           <p> A porszívónál van egy elektromos csatlakozó, amely lehetővé teszi a porszívó indításának vezérlését. Ezért, ha például egy szívó kéziszerszám van csatlakoztatva a porszívóhoz, a porszívó automatikusan elindul 3 másodpercen belül az indítás után. A fiók maximális terhelése 2000 W. A port, szennyeződést vagy vizet egy nagy, 35 literes rozsdamentes acél tartályba szívják, amely egy nagy leeresztő szeleppel van felszerelve. A porszívó szívóteljesítménye (maximális vákuum) 18 kPa.</p>
           <p> A porszívó fém teleszkópos csővel, univerzális szívófejjel és rugalmas műanyag tömlővel rendelkezik. Tartalmaz egy papír HEPA szűrőt, egy HEPA szűrő hüvelyét a szűrő élettartamának meghosszabbításához, egy nedves vákuumszűrőt és egy darab papírzacskót. </p>
           <p> Tartalmazza az elektromos csatlakozót az elektromos szerszámok csatlakoztatásához. </p>
                                               
                                              
											
					</td>
					<td style=" float:right;" >
					
					  <img style="height:500px; width:500px;" src="pictures\nagy\ipariporszivo.png" alt="ipariporszivo" >
					</td>
				</tr>
	</tbody>
</table>
	

	



</div>





</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->
