<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div  class="mid">

	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
		
		
	</ul>
	
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">



	<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi"  ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid">
		<ul >
			<li id="menu_string"><a href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a  href="gepkolcsonzes.html">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html" >Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>

<div class="mid">
<h3 style=" text-align: center" >Magasnyomású Mosó</h3>

</div>

<div class="mid" >

<table class="blueTable">
	<tbody>
				<tr>
					<td style="width: 700px;  text-align:left">
														<h1 style="padding-bottom: 5px;">Gyártó: Kärcher </h1>
														<h1 style="padding-top: 0px;">A következő típusokban alkalmazható:       </h1>
														<p>A kompakt géposztály – gyors és alapos.    </p>
														<p>                                           </p>
														<p>A kompakt géposztály megbízható, mindenre használható készülékeit kis súly, kompakt méretek, egyszerű kezelhetőség és magas tisztítási teljesítmény jellemzi, ideálisan használható műhelyekben, udvaron stb.</p>
														<p>                                                                                                                                                         </p>
														<h1>Automatikus nyomáslekapcsolás                                                                                                                            </h1>
														<p>                                                                                                                                                         </p>
														<p>Kevesebb energia és vízfelhasználás.                                                                                                                     </p>
														<p>A készülék munkamegszakításnál azonnal lekapcsol.                                                                                                        </p>
														<p>                                                                                                                                                         </p>
														<h1>Kihúzható tolófogantyú                                                                                                                                   </h1>
														<p>                                                                                                                                                         </p>
														<p>A nagy alumíniumprofilok révén stabil és jól manőverezhető.                                                                                              </p>
														<p>Kinyitható állapotban tartozéktartóként használható.                                                                                                     </p>
														<p>Behúzott állapotban a készülék kényelmesen, helytakarékosan szállítható, például a szervizjárműben, kombiban.                                            </p>
														<p>                                                                                                                                                         </p>
														<h1>Szivattyú technológia                                                                                                                                    </h1>
														<p>                                                                                                                                                         </p>
														<p>A kiváló minőségű összetevők, mint pl. a sárgaréz hengerfej és a krómozott rozsdamentes dugattyúk hosszú élettartamot garantálnak.                       </p>
														<p>Direkt meghajtás, alig mozgó alkatrészek, karbantartásszegény, optimális hatásfok.                                                                       </p>
														<p>                                                                                                                                                         </p>
														<h1>Tartozéktárolás                                                                                                                                          </h1>
														<p>                                                                                                                                                         </p>
														<p>Az átgondolt részletek, mint pl. a fúvókarekesz garantálják, hogy minden tisztítási helyzetben gyorsan használatra kész legyen a készülék.               </p>
														<p>                                                                                                                                                         </p>
														<h1>Beépített kábeltárolás tartó klippel.                                                                                                                    </h1>
														<p>                                                                                                                                                         </p>
														<p>Beépített tömlődob 15 m –es magasnyomású tömlővel. Ezáltal nagy a hatósugár és egyszerű a tárolás (CX – változat).                                       </p>
														<p>                                                                                                                                                         </p>
														<p>Mobil alkalmazásokhoz                                                                                                                                    </p>
														<p>Easy-Press pisztoly Softgrip betéttel                                                                                                                    </p>
														<p>Rozsdamentes szórószár                                                                                                                                   </p>
														<p>                                                                                                                                                         </p>
														<h1>Műszaki adatok                                                                                                                                           </h1>
														<p>                                                                                                                                                         </p>
														<p>Áramfajta (Ph/V/Hz): 1/230/50                                                                                                                            </p>
														<p>Vízszállítás (l/óra): 500                                                                                                                                </p>
														<p>Munkanyomás ( bar /MPa): 150/15                                                                                                                          </p>
														<p>Max. nyomás (bar/MPa): 185/18.5                                                                                                                          </p>
														<p>Max. befolyó vízhőmérséklet (°C): 60                                                                                                                     </p>
														<p>Csatlakoz ási teljesítmény (kW): 2.7                                                                                                                     </p>
														<p>Tömeg (kg): 28.3                                                                                                                                         </p>
														<p>Méretek (h x sz x m) (mm): 360 x 400 x 925                                                                                                               </p>
														<p>                                                                                                                                                         </p>
														<h1>Felszereltség                                                                                                                                            </h1>
														<p>                                                                                                                                                         </p>
														<p>Kézi szórópisztoly: meghosszabbított magasnyomású pisztoly                                                                                               </p>
														<p>Magasnyomású tömlő (m): 15                                                                                                                               </p>
														<p>Szórószár (mm): 550                                                                                                                                      </p>
														<p>Háromállású fúvóka                                                                                                                                       </p>
														<p>Szennymaró                                                                                                                                               </p>
														<p>Magasnyomású tömlődob                                                                                                                                    </p>
														<p>                                                                                                                                                         </p>
														<h1>FR 30 felülettisztító                                                                                                                                    </h1>
														<p>                                                                                                                                                         </p>
														<p>A hagyományos magasnyomású sugárhoz képest akár 10-szeres felületi teljesítmény is elérhető a készülékkel.                                               </p>
														<p>                                                                                                                                                         </p>
														<p>A könnyebb irányíthatóság érdekében műanyag házzal a hosszú élettartam eléréséért kétszeres kerámia csapággyal, több kezelési kényelemért rugalmas csatlakozócsuklóval és beépített parkolóállással.</p>
														<p>                                                                                                                                                         </p>
														<p>A készülékhez való fúvókakészletet külön kell megrendelni. Max. 180 bar/850 l/óra; 60 °C.                                                                </p>
														<p>                                                                                                                                                         </p>
														<p>Átmérő: 300 mm                                                                                                                                           </p>
														<p>                                                                                                                                                         </p>
														<p>Így is ismerheti: HD 5 15 Cx Plus, HD515CxPlus                                                                                                           </p>

					</td>
					<td style=" float:right;" >
					
					<div style=" "  ><img src="pictures\nagy\moso.png" alt="magas nyomású moso" ></div>
					</td>
				</tr>
	</tbody>
</table>
	

	



</div>





</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->
