<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div  class="mid">

	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
		
		
	</ul>
	
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">



	<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi"  ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid">
		<ul >
			<li id="menu_string"><a href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a  href="gepkolcsonzes.html">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html" >Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>

<div class="mid">
<h3 style=" text-align: center" >Magasnyomású Mosó</h3>

</div>

<div class="mid" >

<table class="blueTable">
	<tbody>
				<tr>
					<td style="width: 700px;  text-align:left">
														<h1 style="padding-bottom: 5px;">Kärcher HD 5/15 CX Plus </h1>
                                                                                                                 
<p>Könnyű, kompakt, sokoldalúan alkalmazható a HD 5/15 CX Plus hidegvizes magasnyomású mosó rendkívül mobilis, álló és fekvő üzemben is működtethető. 
A készülék praktikus tartozéktárolással rendelkezik, valamint a réz hengerfej és az automatikus nyomásmentesítés megnöveli a gép élettartamát. </p>
<p>Egyszerű kezelhetőség és magas tisztítási teljesítmény jellemzi, ideálisan használható műhelyekben, udvaron, stb. 
A hagyományos magasnyomású sugárhoz képest akár 10-szeres felületi teljesítmény is elérhető a készülékkel.</p>

<h1>Specifikáció</h1>

<ul class="list-group">
    <li class="list-group-item"> Tápfeszültség: 1 Fázis (Ph) / 230 V / 50 Hz </li>
    <li class="list-group-item"> Átfolyási sebesség (Vízszállítás): 500 l/h </li>
    <li class="list-group-item"> Munkanyomás: 150 bar / 15 MPa </li>
    <li class="list-group-item"> Max. nyomás: 200 bar / 20 MPa </li>
    <li class="list-group-item">  Csatlakozási teljesítmény: 2800 W</li>
    <li class="list-group-item"> Tápkábel hossza: 5 m </li>
    <li class="list-group-item"> Tömlő hossza: 15 m </li>
    <li class="list-group-item"> Belépő víz max. hőmérséklete: 60°C </li>
    <li class="list-group-item"> Súly (kiegészítőkkel): 28,3 kg </li>
    <li class="list-group-item"> Méretek (hosszúság x szélesség x magasság): 380 mm x 370 mm x 930 mm </li>
  </ul>     
  
  <h1>Termékleírás</h1>

  <p>!Force magasnyomású pisztoly és EASY!Lock gyorszár az energia- és időmegtakarítás érdekében, így fáradságmentes munkát tudunk végezni, 
  valamint az EASY!Lock gyorszár tartós és masszív zárást biztosít, mivel 5x erősebb, mint a csavarok. A készülék munkamegszakításnál azonnal lekapcsol. </p>
  <p>Kihúzható tolófogantyú kinyitott állapotban tartozéktartóként használható. A nagy alumíniumprofilok révén stabil és jól manőverezhető. 
  Behúzott állapotban a készülék kényelmesen, helytakarékosan szállítható. </p>
  <p> Álló és fekvő üzemmódban egyaránt lehet használni. Fekvő üzemmódban a készülék nem a kerekeken áll, mely maximális stabilitást biztosít. 
  A szóróegység külön parkolási és szállítási pozícióval rendelkezik. </p>
  <p> Az automatikus nyomáscsökkentés védi az alkatrészeket, így megnöveli a gép élettartamát. Kiváló minőségű sárgaréz hengerfejjel rendelkezik,
   valamint nagy, kényelmesen elérhető, finom vízszűrővel, amely a szivattyút védi a vízben előforduló szennyeződésektől. </p>
   <p> A 15 méter hosszú nagynyomású tömlő egyszerűen tárolható a beépített tömlődob segítségével. </p>
  

  <h1>Felszereltség</h1>


<ul class="list-group">
    <li class="list-group-item">	Kézi szórópisztoly, EASY!Force </li>
    <li class="list-group-item"> Magasnyomású tömlő, 15 m</li>
    <li class="list-group-item"> Szórószár, 840 mm</li>
    <li class="list-group-item">3 állású fúvóka (0°/25°/40°), Kézi </li>
    <li class="list-group-item">Szennymaró </li>
    <li class="list-group-item">Tömlődob </li>
    <li class="list-group-item"> Nyomáslekapcsolás</li>
  </ul>  

					</td>
					<td style=" float:right;" >
					
					<div style="height:500px; width:500px;" ><img src="pictures\nagy\mosohd.jpg" alt="magas nyomású moso" ></div>
					</td>
				</tr>
	</tbody>
</table>
	

	



</div>





</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->
