<!DOCTYPE html>
<html>
<head>
  <title>OzonKezelo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body >



<div class="navbar-expand-sm bg-white fixed-top" style=" height: 38px;">
	<div class="row">
  		<div class="col" style="text-align: center; top: 6px; ">ozonkezelo@gmail.com</div>
  		<div class="col" style="text-align: center; top: 6px; ">Tel: +36 30 500-1185</div>
	</div>
</div>




<img src="pictures/csik.png" class="img-fluid" style="margin-top: 30px;">	
<img src="pictures/logo.png" class="mx-auto d-block" style="margin-bottom: 20px;">


	<div class="container">

		  <div id="demo" class="carousel slide" data-ride="carousel">
		  	
		  <!-- Indicators -->
		  <ul class="carousel-indicators">
		    <li data-target="#demo" data-slide-to="0" class="active"></li>
		    <li data-target="#demo" data-slide-to="1"></li>
		  </ul>

		  <!-- The slideshow -->
		  <div class="carousel-inner">

		    <div class="carousel-item active">
		      <img src="pictures/01.png" >
		    </div>


		    <div class="carousel-item">
		      <img src="pictures/02.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/03.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/04.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/05.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/06.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/07 1024.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/08.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/09.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/10.jpg" >
		    </div>

		    <div class="carousel-item">
		      <img src="pictures/11.jpg" >
		    </div>

		   
		    

		   

		  </div>

		  <!-- Left and right controls -->
		  <a class="carousel-control-prev" href="#demo" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#demo" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>

		 </div>

	 </div>

<div class=container style="text-align: center; margin-top: 100px;">
	

	<h1>Mire hatékony az ózonos fertőtlenítés?</h1>

		<div class="row">
		    <div class="col" ">
		    	<img src="kep/bakterium.png" class="img-fluid" style="height: 150px; width: 150px;">	
				<p>Baktériumok</p>
				<img src="kep/virus.png" class="img-fluid" style="height: 150px; width: 150px;">
				<p>Vírusok</p>
				<img src="kep/peneszgomba.png" class="img-fluid" style="height: 150px; width: 150px;">
				<p>Penészgombák</p>
		    </div>
		    <div class="col">
		    	<img src="kep/poratka.png" class="img-fluid" style="height: 150px; width: 150px;">
				<p>Poratkák, allergének</p>
				<img src="kep/rossz szag.png" class="img-fluid" style="height: 150px; width: 150px;">
				<p>Kellemetlen szagok</p>
				<img src="kep/cigi.png" class="img-fluid" style="height: 150px; width: 150px;">
				<p>Dohányfüst</p>
		    </div>
		   
		</div>


	

		

		


	<h1>Hogyan működik az ózon?</h1>

	<p> Az ózon az egyik legerősebb oxidáló és fertőtlenítő anyag, ami a vízben lévő mikroorganizmusoktól függően 600-3000-szer hatékonyabb fertőtlenítő hatású, mint a klór. Ha kapcsolatba kerül bármiféle mikroorganizmussal, mint például baktériumokkal, vírusokkal, penésszel, gombával, szagot okozó elemekkel, vagy oldott oxidálható ásványi anyagokkal, akkor egyszerűen megsemmisíti azt, vagy csapadék formájában oxidálja és ezáltal kiszűrhetővé teszi, amit a telítődött szűrőanyagról időszakos visszamosatással lehet eltávolítani. Az oxidálási folyamat az ózonnal olyan eredményes, hogy a mikroorganizmusok nem tudnak immunitást felépíteni, nem úgy, mint ahogy a hagyományos vegyszerekkel előfordulhat.</p>



	<h1>Mely területeken alkalmazható?</h1>

	<p>Lakások, családi házak</p>

	<p>Orvosi rendelők, várótermek</p>

	<p>Kórházak, műtők</p>

	<p>Óvodák, iskolák, hivatalok</p>

	<p>Irodák, üzletek</p>

	<p>Hotelek, panziók</p>

	<p>Autók, buszok</p>

	<p>Penészes helyiségek</p>


	<h1>Miért az ÓZONKEZELŐ?</h1>

	<p>Cégünk 10 éve nyújt lakossági és közületi szolgáltatások területén akadálymentesítési megoldásokat. Csapatunk nagy teljesítményű és hatékony módszerrel, intelligens munkatársakkal nyújt szolgáltatást. Tevékenységünk során elsődleges az ügyfeleink maximális elégedettsége és biztonsága.</p>

	<h1>Árlista</h1>

	<p> Ingatlan

	50 m²
	alapterületig

	24.900 Ft

	Kezelés időtartama: 30-50 perc

	100 m²
	alapterületig

	39.900 Ft

	Kezelés időtartama: 60-80 perc

	150 m²
	alapterületig

	54.900 Ft

	Kezelés időtartama: 100-120 perc


	Jármű 

	Személyautó

	10.900 Ft

	Kezelés időtartama: 20 perc

	Kisbusz, lakóautó

	18.900 Ft

	Kezelés időtartama: 40 perc

	Autóbusz, teherautó

	24.900 Ft

	Kezelés időtartama: 60-100 perc

	 </p>

	<h1>Segíthetünk? Lépjen kapcsolatba velünk</h1>
	<p class="font-weight-light"> Telefon: +36 30 500-1185 E-mail: ozonkezelo@gmail.com </p>
	<p class="font-weight-light"> Ügyfélszolgálat nyitvatartása: Hétfő-Szombat 8:00-19:00 </p>

</div>



<div class="container">
  <form  method="post" action="index.php">
    <h2>Írjon nekünk</h2>
    <div class="form-group">
      <input type="name" class="form-control" id="name" placeholder="Név (Nem kötelező)" name="name">
    </div>

	<div class="form-group">
	  <input type="email" class="form-control" id="email" placeholder="E-mail cím (kötelező)" name="email">
	</div>
    
    <input wpcf7-form-control wpcf7-textarea type="message" class="form-control" id="message" placeholder="Üzenet" name="message">

</div>


<div class="container">
     	 <button type="submit" class="btn btn-primary">Küldés</button>
  	</form>
</div>


<div style="clear:both;" > asdasdsadasdasds </div>


</body>
</html>