<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div  class="mid">

	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
		
		
	</ul>
	
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">



	<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi"  ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid">
		<ul >
			<li id="menu_string"><a style="text-decoration: underline; " href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a  href="gepkolcsonzes.html">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html">Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>









<br><br><br><br>







<div class="mid">
  
    <h4 class="align-middle" >Mi is az ózon?</h4>

    <p style="text-align: center;">Az ózon 600-3000-szer hatékonyabb fertőtlenítő hatású, mint a klór. Az ózonnal szemben, mivel az egyik legerősebb oxidáló és fertőtlenítő anyag, nem tudnak a mikroorganzimusok immunitást felépíteni, mint ahogy a hagyományos vegyszerekkel szemben ez előfordulhat. Az ózon gáz halmazállapotából adódóan eljut a helyiség minden pontjába, mivel kétszer nehezebb, mint a levegő, így bejut minden apró résbe, szövetbe, kárpitba, még a matrac belsejébe is, ahol elpusztítja a káros mikroorganizmusokat: baktériumokat, vírusokat, penészgombákat, poratkát, szagokat (dohányszag), miközben a berendezési tárgyakat nem károsítja. 
    </p>
    
    <br><br><br><br>

    <h4 class="align-middle" >Mire hatékony az ózonos fertőtlenítés?</h4>

    <br>

    <div class="row">
        <div class="col">
            <img src="kep/bakterium.png" class="img-fluid" style="height: 150px; width: 150px;">	
            <p style="text-align: center;" >Baktériumok</p>
        </div>
        <div class="col">
            <img src="kep/virus.png" class="img-fluid" style="height: 150px; width: 150px;">
            <p style="text-align: center;">Vírusok</p>
        </div>
        <div class="col">
            <img src="kep/peneszgomba.png" class="img-fluid" style="height: 150px; width: 150px;">
            <p style="text-align: center;">Penészgombák</p>
        </div>
        <div class="col">
            <img src="kep/poratka.png" class="img-fluid" style="height: 150px; width: 150px;">
            <p style="text-align: center;">Poratkák, allergének</p>
        </div>
        <div class="col">
            <img src="kep/rossz szag.png" class="img-fluid" style="height: 150px; width: 150px;">
            <p style="text-align: center;">Kellemetlen szagok</p>
        </div>
        <div class="col">
            <img src="kep/cigi.png" class="img-fluid" style="height: 150px; width: 150px;">
            <p style="text-align: center;">Dohányfüst</p>
        </div>
       
    </div>
    
    <br><br><br><br>
    
    <h4 class="align-middle" >Hol alkalmazható?</h4> 

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Családi ház, lakás</li>
        <li class="list-group-item">Orvosi rendelő, váróterem</li>
        <li class="list-group-item">Iroda, üzlet</li>
        <li class="list-group-item">Óvoda, iskola</li>
        <li class="list-group-item">Hotel, panzió</li>
        <li class="list-group-item">Kórház, műtő</li>
        <li class="list-group-item">Autó, busz</li>
        <li class="list-group-item">Klíma berendezés tisztítása</li>
        <li class="list-group-item">Penészes helyiség</li>
      </ul>


      <br><br><br><br>


    <h4 class="align-middle" >Miért én?</h4> 
    <p style="text-align: center;">Nagyteljesítményű géppel és hatékony módszerrel kínálom a szolgáltatást az ügyfelek maximális elégedettségének elérése érdekében.</p>
    
    <br><br>


   

    
    <h4 class="align-middle" >Árlista</h4>

    

    <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="3" scope="col">Ingatlan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50-100 m2</td>
            <td>100-200 m2</td>
            <td>200-400 m2</td>
          </tr>
          <tr>
           
            <td>alapterületig</td>
            <td>alapterületig</td>
            <td>alapterületig</td>
          </tr>
          <tr>
            <td>5000 Ft – 10 000 Ft</td>
            <td>10 000 Ft – 20 000 Ft</td>
            <td>20 000 Ft – 40 000 Ft</td>
          </tr>
          <tr>
            <td>Kezelés időtartama: 10-30 perc</td>
            <td>Kezelés időtartama: 30-60 perc</td>
            <td>Kezelés időtartama: 60-120 perc</td>
          </tr>
        </tbody>
      </table>

      <br><br>

      

      <table class="table table-sm">
        <thead>
          <tr>
            <th colspan="4" scope="col">Jármű</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Személyautó</td>
            <td>Kisbusz</td>
            <td>Busz</td>
            <td>Lakókocsi</td>
          </tr>
          <tr>
            <td> 5000 Ft</td>
            <td>8 000 Ft</td>
            <td>10 000 Ft</td>
            <td>10 000 Ft</td>
          </tr>
          <tr>
            <td>Kezelés időtartama: 10 perc</td>
            <td>Kezelés időtartama: 15 perc</td>
            <td>Kezelés időtartama: 30 perc</td>
            <td>Kezelés időtartama: 15 perc</td>
          </tr>
        </tbody>
      </table>

      <br><br>
    
    
    
    <br><br>
    <b>Az időtartam a kezelés idejére vonatkozik, amíg a gép működik. Ez után van egy pihenési idő, amikor az ózongáz kifejti hatását. 
    Mindezeket követően pedig minimum 30 perc szellőztetés szükséges, a helyiség szellőztethetőségétől függően. </b>
    <p>Kaposvár és környékén (10 km) a kiszállás ingyenes, a továbbiakban kiszállási díjat számolok fel. </p>
    <p>Több kezelés esetén kedvezményt adok, valamint rendszeres, időközönként ismétlődő előre egyeztetett kezelések esetén 20% kedvezmény vehető igénybe.</p>
    <p>A feltűntetett árak ÁFA-t tartlmazzák. </p>

    <br><br>

    <h4 class="align-middle" >Kapcsolat</h4>
    <p>Telefon: 06/30-500-1185</p>
    <p>e-mail: ozonkezelo@gmail.com </p>
    <p>Ügyfélszolgálat elérhető: Hétfő-Szombat: 8:00-19:00</p>

    <br><br>


    <h4 class="align-middle" >Gyakori kérdések</h4>
    





    <div id="accordion">

        <div class="card-flush">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Hogyan működik az ózon?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                A helyiségek, járművek ózonos kezelése távvezérléssel indul. A fertőtlenítés ideje függ a kezelendő helyiség és jármű méretétől; így a pontos adatok egyeztetése után, személyre szabottan tájékoztatom az ügyfelet. Egyidejűleg 400 m2 alapterületű helyiségen tudok kezelést végezni. 
                Az időtartam a kezelés idejére vonatkozik, amíg a gép működik. Ez után van egy pihenési idő, amikor az ózongáz kifejti hatását. Mindezeket követően pedig minimum 30 perc szellőztetés szükséges, a helyiség szellőztethetőségétől függően. 
                Az ózongenerátor használata környezetkímélő, mivel a kezelés során felszabadult ózon ismét oxigénné bomlik fel, mely a környezetre ártalmatlan. </div>
          </div>
        </div>

        <div class="card-flush">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Milyen előkészületeket igényel a kezelés?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                A gép működési ideje alatt nem tartózkodhat élőlény (ember, állat, növény) a helyiségben. Így amennyiben dísznövények, állatok található a helyiségben, úgy a kezelés időtartamára ezeket a helyiségből el kell távolítani. 
            </div>
          </div>
        </div>

        <div class="card-flush">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Hogyan történik a beavatkozás?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                A járművek, helyiségek ózonos kezelését távvezérléssel indítom el. A fertőtlenítés időtartama a kezelésre szánt helyiség méretétől függ, melyről pontos tájékoztatást személyesen vagy telefonon tudok adni. 
            </div>
          </div>
        </div>

        <div class="card-flush">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Mekkora alapterületig tudok fertőtleníteni?
              </button>
            </h5>
          </div>
      
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                Egyidejűleg 400 m2 alapterületig tudok ózonos fertőtlenítést végezni.  </div>
          </div>
        </div>
        <div class="card-flush">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Megrendelést követően mennyi az átfutási idő?
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                Az éppen aktuális teljesítési időpontokkal kapcsolatban kérem lépjen kapcsolatba velem! </div>
          </div>
      </div>
   







    </div>







</div>

<br><br><br><br>




 

<!--

<div class="mid">
	
	<iframe  width="1200" height="600" src="https://www.youtube.com/embed/-13pVigMNgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

-->





</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->
