<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div  class="mid">

	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
		
		
	</ul>
	
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">



	<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi"  ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid">
		<ul >
			<li id="menu_string"><a href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a  href="gepkolcsonzes.html">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html" >Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>

<div class="mid">
<h3 style=" text-align: center" > Padló ventilátor </h3>

</div>

<div class="mid" >

<table class="blueTable">
	<tbody>
				<tr>
					<td style="width: 700px;  text-align:left">
                                                    
                        
                        
 <h1 style="padding-bottom: 5px;">Praktiker PPRV 50 </h1>
                                                                                                                 
 <p>Az 50 cm átmérőjű fém lapátoknak köszönhetően a padlóventilátor otthoni vagy irodai használatra egyaránt ajánlott.</p>
<h1>Specifikáció</h1>



<ul class="list-group">
    <li class="list-group-item">  Hangteljesítményszint LWA = 70 dB (A)</li>
    <li class="list-group-item"> Max. légtömegáram: kb. 173 m3 / perc </li>
    <li class="list-group-item"> Tápkábel hossza: 1,6 m </li>
    <li class="list-group-item">  Tápellátás: 230 V / 50 Hz / 120 W</li>
    <li class="list-group-item"> Tömege: 5 kg </li>
    <li class="list-group-item"> Méretek (magasság x mélység x szélesség): 58,74 cm x 56,24 cm x 18,84 cm </li>
</ul>  
  
  <h1>Termékleírás</h1>
 <p> 50 cm lapátátmérővel rendelkezik az eszköz. A fém lapátok teljesítménye a padlóventilátor oldalán található sebességszabályozónak köszönhetően
   3 fokozatban könnyen, kényelmesen és egyszerűen szabályozható. Ezen felül a fejdőlésszög (90°) szintén állítható. </p>




					</td>
					<td style=" float:right;" >
					
					<div style="height:500px; width:500px;" ><img src="pictures\nagy\padloventi.png" alt="padloventi" ></div>
					</td>
				</tr>
	</tbody>
</table>
	

	



</div>





</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->
