<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div  class="mid">

	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
		
		
	</ul>
	
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">



	<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi"  ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid">
		<ul >
			<li id="menu_string"><a href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a  href="gepkolcsonzes.html">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html" >Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>

<div class="mid">
<h3 style=" text-align: center" >szőnyeg- és kárpittisztító</h3>

</div>

<div class="mid" >

<table class="blueTable">
	<tbody>
				<tr>
					<td style="width: 700px;  text-align:left">
											
											<h1 style="padding-top: 0px;">Kärcher Puzzi 10/1     </h1>
								
											
											<ul class="list-group">
												<li class="list-group-item">Max. felületteljesítmény: 20-25 m2/h  </li>
												<li class="list-group-item"> Légmennyiség: 74 l/s </li>
												<li class="list-group-item"> Vákuum: 254mbar/25,4kPa </li>
												<li class="list-group-item"> Permetmennyiség: 1 l/min </li>
												<li class="list-group-item"> Permetnyomás: 1 bar </li>
												<li class="list-group-item"> Friss-/szennyezettvíz-tartály: 10-9 l </li>
												<li class="list-group-item"> Turbina teljesítménye: 1250 W </li>
												<li class="list-group-item"> Szivattyú teljesítménye: 40 W </li>
												<li class="list-group-item"> Feszültség: 220-240 V </li>
												<li class="list-group-item">  Frekvencia: 50-60 Hz</li>
												<li class="list-group-item"> Kábel hossza: 7,5 m </li>
												<li class="list-group-item"> Súly kiegészítők nélkül: 10,5 kg </li>
												<li class="list-group-item"> Méretek (hosszúság x szélesség x magasság): 690 mm x 325 mm x 440 mm </li>
											  </ul>


											  <h1>Termékleírás</h1>
<p>Padlófejjel/textiltisztító fejjel a szőnyegek és kárpitok tisztításához, permetezés segítségével. Ideális kis és közepes területek higiénikus és hatékony tisztítására. </p>
<p>1 bar permetezési nyomással, a kárpittisztító gép biztosítja a textil felületek gyengéd mélytisztítását, lenyűgöző eredményekkel, különösen a szőnyegek és kárpitok tisztításánál. </p>
<p>A keskeny padlófejnek köszönhetően, a gép optimális szűk helyeken való használatra, valamint flexibilis szívóél segítségével a zsúfolt területek könnyen tisztíthatók.</p>
<p> Beépített kábelhoroggal és tartóval rendelkezik a kioldóval és szívócsővel ellátott markolathoz.</p>
<p>Optimálisan alkalmazható a mindennapokban, mert a markolat beállítása szerszámok nélkül megoldható, ezen felül rendelkezik tartozék és kábel rögzítővel,
 valamint gyorsan át lehet váltani a padlófejről a kárpittisztító fejre. A szennyezettvíz tartály kivehető, és így használható a tisztavíz tartály feltöltéséhez.</p>
<p>  A tartozékok széles skálájának hála sokoldalúan alkalmazható: szőnyegtisztítás, kárpittisztítás, résfúvóka az autóülések és kárpitok tisztításához. </p>
<p>  Állítható magasságú a markolat, valamint az ergonomikus kétkezes markolat csekély súly alkalmazásával felhasználóbarát kezelhetőséget biztosít. </p>

<h1 >Felszereltés     </h1>


											
											<ul class="list-group">
												<li class="list-group-item"> Permettömlő beépített vízvezetővel, 2,5m</li>
												<li class="list-group-item">Kárpittisztító fej </li>
												<li class="list-group-item"> Kiegészítő markolat</li>
												<li class="list-group-item"> Kábelakasztó</li>
												<li class="list-group-item"> Keskeny padlófej flexibilis szívószájjal</li>
												<li class="list-group-item"> Kéziszerszám</li>
											  </ul>
											
					</td>
					<td style=" float:right;" >
					
					<div style=" "  ><img src="pictures\nagy\szonyegtisztito.png" alt="szonyegtisztito" ></div>
					</td>
				</tr>
	</tbody>
</table>
	

	



</div>





</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->
