<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fürge Gép</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

<a href="#" title="Megosztás a Facebook-on" onclick="window.open('http://www.facebook.com/share.php?u=https:https://www.furge-gep.hu/acsgyalu.html;title=');"></a>

<div  class="mid">
	<ul style="font-size: 12px; ">
		<li style="margin-left: 5px;">Fürge-Gép gépkölcsönző</li>
		<li style="margin-left: 200px;">Fülöp Balázs ev.</li>
		<li  style="margin-left: 220px;">Tel: +36 30 500-1185</li>
		<li  style="margin-left: 10px;">E-mail: furgegep@gmail.com</li>
	</ul>
</div>

<div id="vonal" ></div>


<div id="loginbox" class="mid">


<ul>
		<a  href="index.html" > <li> <img src="logo_kicsi.png" alt="kicsi logo">  </li>  </a>
		<li id="regi" ><a href="#bejelentkezes" >Bejelentkezés</a></li>
		<li id="regi" ><a href="#regisztracio"    >Regisztráció</a></li>
	</ul>
	
	
	
</div>

<div id="menu_container">
	<div class="mid" >
		<ul >
			<li  id="menu_string"><a  href="ozon.html">Ózongenerátor</a></li>
		  <li id="menu_string"><a href="gepkolcsonzes.html" style="text-decoration: underline; ">Gépkölcsönzés</a></li>
		  <li><a href="arlista.html">Árlista</a></li>
		  
		  <li class="dropdown">
			<a class="dropbtn">Rólunk</a>
			<div class="dropdown-content">
			  <a href="#">Bemutatkozás</a>
			  <a href="#">Hírek</a>
			</div>
		  </li>
		  <li><a href="dokumentumok.html">Dokumentumok</a></li>
		  <li><a href="kapcsolat.html">Kapcsolat</a></li>
		  <li><a href="palyazat.html">Pályázat</a></li>
		  
		  <a href="#ajanlatkeres"><div id="ajanlatkeres"><img src="ajanlatkeres_gomb.png" alt="ajanlatkérés gomb"></div></a>
		  
		</ul>
		
	</div>
	
</div>

<div class="mid">
	<h3>Gépkölcsönzés</h3>
	<table class="tab" style=" margin-left:0px; padding: 30px;"  cellspacing="0" cellpadding="0" border="0">
		<thead >
			<tr  >
				
					<th ></th>
					<th ><h1>Kép</h1></th>
					<th ><h1>Terméknév</h1></th>
					<th ><h1>Bérlés<br>időtartama</h1></th>
					<th ><h1>Ár / nap</h1></th>
					<th ><h1>Részletek</h1></th>
				
			</tr>
		</thead>
		
		<tbody style=" padding: 30px;">
		
		
			
			
		
		
		
			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:90px;" src="pictures\gyalu.png" alt="gyalu">
					
				</td>
				
				<td >
					<p>
						<a  href="acsgyalu.html">Ácsgyalú
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> </p>  6.500 Ft <br> 6.100 Ft <br>   5.800 Ft <br>  </p></td>
				<td>
					<a  href="acsgyalu.html">Leírás</a>
				</td>
			</tr>

	<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:100px;" src="pictures\korfuresz.jpg" alt="korfuresz">
					
				</td>
				
				<td >
					<p>
						<a  href="korfuresz.html">Merülő körfűrész
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 6.500 Ft <br> 6.100 Ft <br> 5.800 Ft </p></td>
				<td>
					<a  href="korfuresz.html">Leírás</a>
				</td>
			</tr>
		

			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:100px;" src="pictures\vezetosin.jpg" alt="vezetosin">
					
				</td>
				
				<td >
					<p>
						<a  href="vezetosin.html">Vezetősín (körfűrészhez)
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 1.000 Ft </p></td>
				<td>
					<a  href="vezetosin.html">Leírás</a>
				</td>
			</tr>
			<tr>
			
				<td >
					
				</td>

		<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:100px;" src="pictures\nagy\aprito.png" alt="aprito">
					
				</td>
				
				<td >
					<p>
						<a  href="aprito.html">Aprító- és szecskázógép
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 8.000 Ft <br> 7.600 Ft <br> 7.200 Ft </p></td>
				<td>
					<a  href="aprito.html">Leírás</a>
				</td>
			</tr>

<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:90px;" src="pictures\szonyeg.png" alt="szonyeg">
					
				</td>
				
				<td >
					<p>
						<a href="szonyegtisztito.html">Szőnyeg- és kárpittisztító
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br> </p>
				</td>
				
				<td >
					<p> </p>  4.000 Ft  <br> 3.800 Ft <br>   3.500 Ft<br>  </p></td>
				<td>
					<a  href="szonyegtisztito.html">Leírás</a>
				</td>
			</tr>

			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:100px;" src="pictures\nagy\ipariporszivo.png" alt="ipariporszivo">
					
				</td>
				
				<td >
					<p>
						<a  href="ipariporszivo.html">Ipari porszívó
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 5.000 Ft <br> 4.800 Ft <br> 4.500 Ft </p></td>
				<td>
					<a  href="ipariporszivo.html">Leírás</a>
				</td>
			</tr>

			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:90px;" src="pictures\moso.png" alt="moso">
					
				</td>
				
				<td >
					<p>
						
						
						
						<a href="moso.html" >Magasnyomású mosó - hidegvizes</a>
						
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> </p>  8.000 Ft <br> 7.500 Ft<br>   7.200 Ft<br>  </p></td>
				<td>
					<a href="moso.html">Leírás</a>
				</td>
			</tr>
			
			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:70px; width:100px;" src="pictures\nagy\furokalapacs.jpg" alt="furokalapacs">
					
				</td>
				
				<td >
					<p>
						<a  href="furokalapacs.html">Fúrókalapács
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 3.000 Ft <br> 2.800 Ft <br> 2.500 Ft </p></td>
				<td>
					<a  href="furokalapacs.html">Leírás</a>
				</td>
			</tr>	
			
			<tr>
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:100px;" src="pictures\bonto.jpg" alt="bonto">
					
				</td>
				
				<td >
					<p>
						<a  href="bonto.html">Bontókalapács 10 kg-os
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 6.500 Ft <br> 6.200 Ft <br>6.000 Ft </p></td>
				<td>
					<a  href="bonto.html">Leírás</a>
				</td>
			</tr>
			
			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:90px;" src="pictures\Steinhaus.jpg" alt="steinhaus">
					
				</td>
				
				<td >
					<p>
						<a  href="bonto15.html">Bontókalapács 15kg-os
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 8.000 Ft <br> 7.700 Ft <br> 7.400 Ft </p></td>
				<td>
					<a  href="bonto15.html">Leírás</a>
				</td>
			</tr>

			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:70px; width:100px;" src="pictures\nagy\komuvesvasbak.png" alt="komuvesvasbak">
					
				</td>
				
				<td >
					<p>
						<a  href="komuvesvasbak.html">Kőműves vasbak
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 2.000 Ft <br> 1.800 Ft <br> 1.500 Ft </p></td>
				<td>
					<a  href="komuvesvasbak.html">Leírás</a>
				</td>
			</tr>
	<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:100px;" src="pictures\polisztirol.jpg" alt="polisztirol">
					
				</td>
				
				<td >
					<p>
						<a  href="polisztirol.html">Polisztirolvágó
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 5.000 Ft <br> 4.600 Ft <br> 4.300 Ft </p></td>
				<td>
					<a  href="polisztirol.html">Leírás</a>
				</td>
			</tr>

			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:70px; width:70px;" src="pictures\nagy\padloventi.png" alt="padloventi">
					
				</td>
				
				<td >
					<p>
						<a  href="padloventilator.html">Padló ventilátor
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 3.000 Ft <br> 2.800 Ft <br> 2.500 Ft </p></td>
				<td>
					<a  href="padloventilator.html">Leírás</a>
				</td>
			</tr>

			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img style="height:100px; width:120px;" src="pictures\nagy\aramfejleszto.jpg" alt="aramfejleszto">
					
				</td>
				
				<td >
					<p>
						<a  href="aramfejleszto.html">Áramfejlesztő
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 nap<br>6. naptól<br>21. naptól<br>  </p>
				</td>
				
				<td >
					<p> 7.000 Ft <br> 6.600 Ft <br> 6.200 Ft </p></td>
				<td>
					<a  href="aramfejleszto.html">Leírás</a>
				</td>
			</tr>
			
			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img src="pictures\legzes.png" alt="légzésfigyelő">
					
				</td>
				
				<td >
					<p>
						<a  href="legzes.html">Légzésfigyelő
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 hónap<br>6. hónaptól<br>6 hónapban egyben<br>  </p>
				</td>
				
				<td >
					<p> 3.000 Ft <br> 2.500 Ft <br> 15.000 Ft </p></td>
				<td>
					<a  href="legzes.html">Leírás</a>
				</td>
			</tr>
			
			<tr>
			
				<td >
					
				</td>
				
				<td >
					
						<img src="pictures\merleg.png" alt="merleg">
					
				</td>
				
				<td >
					<p>
						<a  href="merleg.html">Babamérleg
						</a>
					</p>
				</td>
				
				<td >
					<p>1 - 5 hónap<br>6. hónaptól<br>6 hónapban egyben<br>  </p>
				</td>
				
				<td >
					<p> 2.500 Ft <br> 2.000 Ft <br> 13.000 Ft </p></td>
				<td>
					<a  href="merleg.html">Leírás</a>
				</td>
			</tr>



			
		


		</tbody>
		
		
	</table>

</div>







</div>
<div class="clear"></div>









</body>



<div style=" float:left; posotion:absolute;"><img  src="lab_lec.png" alt="láb léc">
</div>
<div class="clear"></div>
<div style=" position:fixed; right: 0; bottom: 0;" ><img style="float:right;" src="szechenyi.png" alt="szechenyi" ></div>

</html>
<!-- Write your comments here 


-->






